$defaultPadding: 1rem 1.5rem;

* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 2.5em;
}
.centerText {
    text-align: center;
}
.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    form {
        display: block;
    }
    .userInput {
        padding: $defaultPadding;
    }
    .submitButton {
        border: none;
        background-color: transparent;
    }
}
.userWord {
    font-size: 1.5rem;
    padding: $defaultPadding;
}
.result {
    display: block;
    padding: $defaultPadding;
    font-size: 1.25rem;
}