$defaultPadding: 1rem 1.5rem;

* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body {
    background-image: url("background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-size: 2.5em;
}
.dictionary-container {
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: $defaultPadding
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.centerText {
    text-align: center;
}
.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    form {
        display: block;
    }
    .userInput {
        padding: $defaultPadding;
        font-weight: 500;
        background-color: rgba(5, 5, 5, 0.8);
        color: white;
    }
    .submitButton {
        border: none;
        background-color: transparent;
    }
}
.result-container {
    padding-bottom: 40%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    .userWord {
        font-size: 1.5rem;
        padding: $defaultPadding;
    }
    .result {
        display: block;
        padding: $defaultPadding;
        font-size: 1.25rem;
        height: 100%;
    }
}